@import url('https://fonts.googleapis.com/css?family=Marcellus|Abel');

.content-container {
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    margin: 36px 26px;
    max-width: 550px;
    padding: 24px 16px;
    position: relative;
}

.content-overlay {
    background: black;
    bottom: 0;
    left: 0;
    opacity: .6;
    position: absolute;
    top: 0;
    width: 100%;
}

.content-container-inner {
    position: relative;
}

.content-section {
    margin-bottom: 36px;
}

.heading-container,
.contact-me-section {
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Marcellus', serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 24px;
}

h2 {
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .content-container {
        margin: 48px auto;
        padding: 48px;
    }
    h1 {
        font-size: 46px;
    }
    h2 {
        font-size: 24px;
        margin-bottom: 32px;
    }
}