@import url('https://fonts.googleapis.com/css?family=Marcellus|Questrial');

h1 {
    font-family: 'Marcellus', serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

h2 {
    font-size: 22px;
}

.content-container {
    color: white;
    font-family: 'Questrial';
    font-size: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 12px;
    padding: 12px;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 36px;
    }
    .content-container {
        margin: 48px;
        padding: 48px;
    }
}

.content-section {
    margin-bottom: 24px;
}
.content-section > p,
.content-section > a {
    text-align: center;
    margin-bottom: 0;
}

.content-section > a {
    color: white;
    display: block;
}

.content-section > a:visited {
    color: #999999;
}